<div fxLayout="column">
    <mat-toolbar  color="primary">
        Subject: {{data.subject}}
        <span fxFlex></span>
        <button mat-icon-button (click)="Exit()"><i class="fa fa-times fa-2x"></i></button>
    </mat-toolbar>
    <span class="breaker"></span>
    <mat-form-field>
        <input matInput placeholder="Subject" cdkFocusInitial [(ngModel)]="data.subject">
    </mat-form-field>
    <span class="breaker"></span>
    <mat-toolbar  color="primary">
           <button mat-icon-button><i class="fa  fa-bold"></i></button>
           <button mat-icon-button><i class="fa  fa-italic"></i></button>
           <button mat-icon-button><i class="fa fa-underline"></i></button>
           |
           <button mat-icon-button><i class="fa  fa-list-ul"></i></button>
           <button mat-icon-button><i class="fa  fa-list-ol"></i></button>
           
    </mat-toolbar>
    <mat-form-field>
            <textarea matInput  [(ngModel)]="data.message"></textarea>
    </mat-form-field>
    <div id="Action">
        <span fxFlex></span>
        <button mat-raised-button color="primary"  [mat-dialog-close]="data">Save Changes</button>
    </div>
</div>