<div fxLayoutWrap fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" >
      <mat-card [@hideProfileAnimation]="hideProfileState" (click)="SelectedProfileAction(account)" fxFlex="25%" fxFlex.xs="100%" class="profile profileButton" *ngFor="let account of accounts">
            <img class="profileImg" src="{{account.avatar}}">
            <span class="profileName">{{account.name}}</span>
            <span class="profileRank">{{account.rank}}</span>
      </mat-card>
</div>
<div fxLayout="column" [@hideBotTestAnimation]="hideTestOfBotState">
      <mat-toolbar color="primary">
            <span>Are you not a real bot?</span>
            <span fxFlex></span>
            <button mat-raised-button color="warn" (click)="ToggleMenu()"><i class="fa fa-left-arrow"></i>Back</button>
      </mat-toolbar>
      <mat-card>
            <mat-card-content>
                  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
                        <div class="soloProfile" fxFlex="25">
                              
                              <img [src]="selectedProfile.avatar">
                              
                              <div fxLayout="row" >
                                    <div class="soloName" fxFlex="50">
                                          <span class="mat-title">{{selectedProfile.name}}</span>
                                    </div>
                                    <div class="soloRank" fxFlex="50">
                                          <span class="mat-caption">Rank: {{selectedProfile.rank}}</span>
                                    </div>
                              </div>
                        </div>
                        <form fxLayout="column" fxLayoutAlign="center center">
                                    <mat-toolbar [@hideSuccessMessage]="hideSuccessMessage" class="alert alert-success">Successful!</mat-toolbar>
                                    <mat-toolbar [@hideErrorMessage]="hideErrorMessage" class="alert alert-danger">Validation Has Been Time out!</mat-toolbar>
                                    <mat-toolbar [@hideBotErrorMessage]="hideBotErrorMessage" class="alert alert-danger">Error! Robot Has Been Dectected!</mat-toolbar>
                                    <mat-spinner [@hideLoadingMessage]="hideLoadingMessage"></mat-spinner>    
                                    <div id="gCaptchaZone" [@hideGCaptcha]="hideGCaptcha"  appGoogleReCaptcha key="6LcNriwUAAAAALTx_6B2nM69nZRYKfAPjZRv3lf8" ></div> <!-- NEED TO REPLACE KEY ONCE THIS IS LIVE -->
                                    <button type="submit" [@hideGCaptcha]="hideGCaptcha" mat-raised-button color="warn" >Submit</button>  
                                                         
                        </form>
                  </div>
            </mat-card-content>
      </mat-card>
</div>
