// styles in src/style directory are applied to the whole page
@import './theme.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

 
.bgRed
{
    background-color: rgb(180, 0, 0);
}

.bgGreen
{
    background-color: rgb(0, 180, 0);
}

.bgBlue
{
    background-color: rgb(0, 0, 180);
}

.bgTeal
{
    background-color: rgb(0, 180, 180);
}


.content
{
   background-color: rgb(231,231,231) !important; 
}

html, body
{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
#contentBody
{
    padding: 15px;
}

#gCaptchaZone
{
    margin-left: auto;
    margin-right: auto;
}

.alert-danger
{
    @extend .mat-toolbar;
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}
.alert-success
{
    @extend .mat-toolbar;
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}