<div class="margin-20">
    <md-card>
        <button (click)="GenDBForums()" md-raised-button class="primary margin-20">Generate DB: Forums</button>
        <button (click)="CheckDBForums()" md-raised-button class="primary margin-20">Check DB: Forums</button>

        <button (click)="GenDBThreads()" md-raised-button class="primary margin-20">Generate DB: Threads</button>
        <button (click)="CheckDBThreads()" md-raised-button class="primary margin-20">Check DB: Threads</button>

        <button (click)="GenDBPosts()" md-raised-button class="primary margin-20">Generate DB: Posts</button>
        <!--<button (click)="CheckDBForums()" md-raised-button class="primary margin-20">Check DB: Forums</button>-->
    </md-card>
</div>