<mat-toolbar color="warn">
    <span>{{forumboardName}} <i class="fa fa-arrow-right"></i> Topics</span>
    <span fxFlex></span>
    <button mat-raised-button color="accent" (click)="NewTopic()">Create Topics</button>
</mat-toolbar>
<div fxlayout="column">
    <mat-card>
        <mat-table #table [dataSource]="dataSource" matSort>
            <!-- Thread Name -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Topic Name
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{row.name}}
                </mat-cell>
            </ng-container>

            <!-- author name who create the topic -->
            <ng-container matColumnDef="authorName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Author Name
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{row.authorName}}
                </mat-cell>
            </ng-container>

            <!-- When this topic was created -->
            <ng-container matColumnDef="createdDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Created By
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{row.createdDate | date:'MMM-dd-yyyy' }}
                </mat-cell>
            </ng-container>

            <!-- leasted post on that thread -->
            <ng-container matColumnDef="lastedPostDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Lastest Post Date
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{row.lastedPostDate | date:'MMM-dd-yyyy'}}
                </mat-cell>
            </ng-container>

            <!-- Number of post on that thread-->
            <ng-container matColumnDef="postCount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Number of Post
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{row.postCount}}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            
        </mat-table>
    </mat-card>
</div>