<div class="margin-20">
    <mat-card>
        <button (click)="GenDBForums()" mat-raised-button class="primary margin-20">Generate DB: Forums</button>
        <button (click)="CheckDBForums()" mat-raised-button class="primary margin-20">Check DB: Forums</button>

        <button (click)="GenDBThreads()" mat-raised-button class="primary margin-20">Generate DB: Threads</button>
        <button (click)="CheckDBThreads()" mat-raised-button class="primary margin-20">Check DB: Threads</button>

        <button (click)="GenDBPosts()" mat-raised-button class="primary margin-20">Generate DB: Posts</button>
        <!--<button (click)="CheckDBForums()" mat-raised-button class="primary margin-20">Check DB: Forums</button>-->
    </mat-card>
</div>